body{
   background-color: #0B3340;
   margin: 0;
   padding: 0;
   color: #333;
   font-family: "Arial";
   font-size: 16px;
}


.container{
   width: 70%;
   margin: 0 auto;
   border: solid 1px white;
   text-align: left;
   font-size: 20px;
   background-color: white;
}

.cabecera{
   background-color: #2988FF;
   color: white;
   box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
   padding: 0.5em;
   margin: 0;
   font-weight: bold;
   display: flex;
   align-items: center;
}
.cabecera > img{
   margin: 0 5px 0 0;
}

.cabecera .tagline{
   font-size: 14px;
   font-weight: normal;
   margin-left: 15px;
}

.post {
   font-size: 18px;
   margin: 30px 20px;
}

.post h1{
   margin: 0;
   font-size: 20px;
}

.footer{
   background-color: teal;
   text-align: center;
   padding: 5px;
}

.footer > p{
   margin: 0px;
   color: white;
   font-size: 14px;
}
